@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 5 5 5;
    /* #050505 */
    --foreground: 255 255 255;
  }

  /* Force Dark Mode Default Styles */
  body {
    @apply text-white antialiased;
    background-color: theme('colors.brand.dark');
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}